## <b> Carga de librerias </b>

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import modules
import preprocessors as pp 
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

## <b> Carga de dataset </b>

In [2]:
datos = pd.read_csv(r'dataset procesados/feature.txt', sep=';')
datos.drop(columns=['Good', 'Poor', 'Standard'], inplace=True)
datos.head()

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,3,7.0,...,4.0,Standard,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,23,Scientist,19114.12,1824.843333,3,4,3,4,-1,31.0,...,4.0,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,-500,Scientist,19114.12,1824.843333,3,4,3,4,3,7.0,...,4.0,Good,809.98,28.609352,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,23,Scientist,19114.12,1824.843333,3,4,3,4,5,4.0,...,4.0,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,23,Scientist,19114.12,1824.843333,3,4,3,4,6,31.0,...,4.0,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good

## <b> Aplicacion de Pipeline de Feature Engineering </b>

In [3]:
def instanciaPipeline(dataset, var_y):
    
    categoric_vars, discrete_vars, continues_vars = modules.getColumnsDataTypes(df=dataset)
    categoric_vars.remove(var_y)


    feature_engineering_pipeline = Pipeline(steps=[
        ('Categorical_Encoder', 
            pp.CategoricalEncoderOperator(varNames=categoric_vars)
        )
    ])

    return feature_engineering_pipeline

procesed_data = instanciaPipeline(dataset=datos, var_y='Credit_Score').fit_transform(datos)

In [50]:
procesed_data.to_csv('dataset procesados/modelado.txt', sep=';', index=False)